!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= full_title(yield(:title))
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-light.bg-faded
      .container
        %a.navbar-brand{:href => root_path}
          = image_tag "logo.svg", width: 30, height: 30, class: "d-inline-block align-top", alt: "Cookit"
          CookIt
        = form_tag(recipes_path, :method => "get", id: "search-form") do
          = text_field_tag :search, params[:search], placeholder: "Search Recipes"
          = submit_tag "Search"
        %ul.nav.navbar-nav.navbar-right.float-sm-right
          %li.nav-item= link_to "Create recipe", new_recipe_path
          - if user_signed_in?
            %li.nav-item= link_to "My recipes", myrecipes_user_path(current_user)
          %li.nav-item= link_to "Register", new_user_registration_path
          - if user_signed_in?
            %li.nav-item= link_to "Sign Out", destroy_user_session_path, method: :delete
          - else
            %li.nav-item= link_to "Log In", new_user_session_path

    .container
      - flash.each do |name, msg|
        = content_tag :div, msg, class: "alert"

      = yield
