= simple_form_for @recipe, html: {class: 'form-horizontal', multipart: true} do |form|
  - if @recipe.errors.any?
    #errors
      %p
        = @recipe.errors.count
        Prevented this recipe from saving
      %ul
        = @recipe.errors.full_messages.each do |msg|
          %li= msg
  .panel-body
    = form.input :title
    = form.input :description
    = form.input :image, as: :hidden, input_html: {value: @recipe.cached_image_data}
    = form.input :image, as: :file
    = form.button :submit, class: "btn btn-primary"
