- provide(:title, "All recipes")
- @recipes.each do |recipe|
  .row
    .col-md-6.col--center
      .Recipe{:class => "Recipe-#{recipe.id}"}
        %h1.Recipe-title= link_to recipe.title, recipe
        .image-wrapper
          = link_to recipe do
            = image_tag recipe.image_url(:normal), class: "img-thumbnail"
        .Recipe-meta
          %span.Recipe-numVotes.u-margin-right--24
            = recipe.get_likes.size
            points
          %a.Recipe-numComments{href: recipe_path(recipe)}
            %span
              = recipe.comments.size
              comments
        .Recipe-actions
          .Action-upvote
            = link_to upvote_recipe_path(recipe), method: :put, remote: true do
              %span Upvote
          .Action-downvote
            = link_to downvote_recipe_path(recipe), method: :put, remote: true do
              %span Downvote
