- provide(:title, @recipe.title)
- if @recipe.image_url(:normal)
  = image_tag @recipe.image_url(:normal), class: "img-thumbnail"
- else
  = image_tag "http://placehold.it/400x400", class: "img-thumbnail"
%h1= @recipe.title
%p= @recipe.description

= link_to "Edit", edit_recipe_path(@recipe), class: "btn btn-warning"
= link_to "Delete", @recipe, method: :delete, class: "btn btn-danger"
= link_to "Back", root_path, class: 'btn btn-default'
